{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>RedStore | Ecommerce Website Design</title>
        <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    </head>
    <body>
        <!-- Header -->
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="/"> <img src="{% static 'images/logo.png' %}" alt="logo" width="125px" /> </a>
                </div>
                <nav>
                    <ul id="menuItems">
                        <li><a href="/">All Products</a></li>
                        <li><a href="/classifier">Classifier</a></li>
                    </ul>
                </nav>
                <img src="{% static 'images/menu.png' %}" alt="menu" class="menu-icon" onclick="menuToggle()" />
            </div>
        </div>

        <!-- Single Product Details -->
        <div class="small-container single-product">
            <div class="row">
                <div class="col-2">
                    <img src={{main_item}} alt="gallery-1" id="product-img" width="250px" />
                </div>
                <div class=col-2">
                    <h4>{{main_title}}</h4>
                </div>
            </div>
        </div>

        <!-- Title -->
        <div class="small-container">
            <div class="row row-2">
                <h2>Related Products</h2>
            </div>
        </div>
        <!-- Products -->
        <div class="small-container">
            <div class="row">
                <div class="col-4">
                    <img src={{recommended_products.0}} alt="product-9" />
                    <h4>{{rec_titles_arr.0}}</h4>
                </div>
                <div class="col-4">
                    <img src={{recommended_products.1}} alt="product-9" />
                    <h4>{{rec_titles_arr.1}}</h4>
                </div>
                <div class="col-4">
                    <img src={{recommended_products.2}} alt="product-10" />
                    <h4>{{rec_titles_arr.2}}</h4>
                </div>
                <div class="col-4">
                    <img src={{recommended_products.3}} alt="product-11" />
                    <h4>{{rec_titles_arr.3}}</h4>
                </div>
            </div>
                <div class="row">
                    <div class="col-4">
                        <img src={{recommended_products.4}} alt="product-12" />
                        <h4>{{rec_titles_arr.4}}</h4>
                    </div>
                    <div class="col-4">
                        <img src={{recommended_products.5}} alt="product-10" />
                        <h4>{{rec_titles_arr.5}}</h4>
                    </div>
                    <div class="col-4">
                        <img src={{recommended_products.6}} alt="product-11" />
                        <h4>{{rec_titles_arr.6}}</h4>
                    </div>
                    <div class="col-4">
                        <img src={{recommended_products.7}} alt="product-12" />
                        <h4>{{rec_titles_arr.7}}</h4>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-col-1">
                        <h3>Download Our App</h3>
                        <p>Download app from android and ios mobile phone.</p>
                        <div class="app-logo">
                            <img src="{% static 'images/play-store.png' %}" alt="play-store" />
                            <img src="{% static 'images/app-store.png' %}" alt="app-store" />
                        </div>
                    </div>
                    <div class="footer-col-2">
                        <img src="{% static 'images/logo-white.png' %}" alt="logo-white" />
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro iste quaerat sunt, accusamus provident nesciunt
                            reiciendis!
                        </p>
                    </div>
                    <div class="footer-col-3">
                        <h3>Useful Links</h3>
                        <ul>
                            <li>Coupons</li>
                            <li>Blog Post</li>
                            <li>Return Policy</li>
                            <li>join affililate</li>
                        </ul>
                    </div>
                    <div class="footer-col-4">
                        <h3>Follow us</h3>
                        <ul>
                            <li>Facebook</li>
                            <li>Twitter</li>
                            <li>Instagram</li>
                            <li>YouTube</li>
                        </ul>
                    </div>
                </div>
                <hr />
                <p class="copyright">Copytight 2020 - Redstore</p>
            </div>
        </div>
        <!-- Js for toggle menu -->
        <script>
            var menuItems = document.getElementById("menuItems");
            menuItems.style.maxHeight = "0px";
            function menuToggle() {
                if (menuItems.style.maxHeight == "0px") {
                    menuItems.style.maxHeight = "200px";
                } else {
                    menuItems.style.maxHeight = "0px";
                }
            }
        </script>

        <!-- JS for product gallery -->
        <script>
            var productImg = document.getElementById("product-img");
            var smallImg = document.getElementsByClassName("small-img");

            smallImg[0].onclick = function () {
                productImg.src = smallImg[0].src;
            };
            smallImg[1].onclick = function () {
                productImg.src = smallImg[1].src;
            };
            smallImg[2].onclick = function () {
                productImg.src = smallImg[2].src;
            };
            smallImg[3].onclick = function () {
                productImg.src = smallImg[3].src;
            };
        </script>
    </body>
</html>
